# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
	<FilesMatch "(interpret|grlang|script|codepredef|mod_simple)\.js$">
		Header set Cache-Control "max-age=20, private"
	</FilesMatch>
	<FilesMatch "(index\.html|style\.css)$">
		Header set Cache-Control "max-age=40000, private"
	</FilesMatch>
</IfModule>
# END Cache-Control Headers
