<IfModule mod_headers.c>
    <FilesMatch "(.*)\.js$">
        Header set Cache-Control "max-age=30, private"
    </FilesMatch>
    <FilesMatch "(index\.html|style\.css|script\.js)$">
        Header set Cache-Control "max-age=40000, private"
    </FilesMatch>
    <IfModule mod_mime.c>
      AddType text/javascript js mjs
    </IfModule>
</IfModule>

