#list {
    position: relative;
}

#list div {
    display:inline-block;
    border: solid 1px black;
}

#list div.plan {
    position:absolute;
    width: 12.5vw;
    height: 13vh;
}

#list div b {
    display: inline-block;
    width: 100% ;
}

#list div span {
    display: inline-block;
    font-style: italic;
    width: 100%;
}

#list div.act30 {
    background-color: #8f8;
}

#list div.act300 {
    background-color: #ff8;
}

#list div.actUC {
    background-color: #fc8;
}
#list div.actOld {
    background-color: #f88;
}

@media not all and (orientation: portrait) {
    #list div b {
        font-size: 16px;
    }
    #list div {
        width: 48vw ;
    }
    #list div span {
        font-size: 12px;
    }
}

@media all and (orientation: portrait) {
    body, input, option, select, button {
        font-size: 5vw !important;
    }
    #list div b {
        font-size: 5vw;
    }
    #list div {
        width: 98vw ;
    }
    #list div span {
        width: 97vw;
    }
}

