div.mainbox {
   border: solid 1px black;
   padding: 1px;
   position: absolute;
   display: inline-block;
   margin: 0;
}

div#editor {
   top:0px;
   left:0px;
   width: calc(50vw - 4px);
   height: calc(100vh - 4px);
}

div.show {
   top: 4vh;
   left: 50vw;
   width: calc(50vw - 4px);
   height: calc(46vh - 2px);
   overflow: hidden;
   display:none;
}

div.show.selected {
   display:inline-block;
}

div#tabs {
   top:0;
   left:50vw;
   width: calc(50vw - 4px);
   height: calc(4vh - 2px);
}

#tabs button {
   height: calc(4vh - 2px);
   border-left: solid 1px black;
   border-radius:0;
   box-shadow:none;
}
#tabs button.selected {
   background-color: #888;
}
#tabs button:hover {
   background-color: #aa4;
}
#tabs button.selected:hover {
   background-color: #880;
}

div#misc{
   top: 50vh;
   left: 50vw;
   width: calc(50vw - 4px);
   height: calc(50vh - 4px);
   overflow: scroll;
}

pre.console{
   white-space: pre-wrap;
   word-wrap: break-word;
}

#misc i {
   color: black;
}

#misc span {
   color: red;
}

#misc b {
   color: blue;
   font-weight: 900;
}

.error {
   background: rgba(255,0,0,0.5);
   position: absolute;
   width: 100% !important;
   left: 0 !important;
}
